body {
    text-align: center;
}

.cell {
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    border-style: inset;
}

.blackcell {
    background-color: black;
}

.whitecell {
    background-color: white;
}